<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Master | Page</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='styles/compiled/index_dist.css') }}"
		/>
	</head>
	<body>
		<div class="sidebar">
			<div class="sidebar-header">
				<img
					src="https://cdn-icons-png.flaticon.com/512/4994/4994388.png"
					alt="icon"
					class="icon"
				/>
			</div>
			<div class="navigation">
				<div class="navigation-items active">Control Center</div>
				<div
					id="logout"
					class="navigation-items"
				>
					Logout
				</div>
			</div>
		</div>
		{% block content %}{% endblock content %}
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		<script src="{{ url_for('static', filename='js/logout.js') }}"></script>
	</body>
</html>
