<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Master | Page</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='styles/compiled/index_dist.css') }}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
		/>
	</head>
	<body>
		<div class="sidebar">
			<div class="sidebar-header">
				<img
					src="{{ url_for('static', filename='images/ico.png') }}"
					alt="icon"
					class="icon"
				/>
			</div>
			<div class="navigation">
				<div class="navigation-items active">Control Center</div>
				<div
					id="logout"
					class="navigation-items"
				>
					Logout
				</div>
			</div>
		</div>
		{% block content %}{% endblock content %}
		<script src="{{ url_for('static', filename='js/sweetalert.js') }}"></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/toastify-js"
		></script>
		<script src="{{ url_for('static', filename='js/logout.js') }}"></script>
	</body>
</html>
